* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
     --bg-color: white;
    --bg-color1: #F0EDED;
    --color: #1EA8A4;
    --color1: #548988;
}

body {
    text-align: center;
    background-color: var(--bg-color);
}

.container {
    margin: 5px;
    background-color: var(--color);
    max-width: 300px;
    height: 570px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.header {
    padding: 10px;
    margin: 10px;
}

header {
    margin-top: 30px;
    color: var(--bg-color1);
    font-size: 10px;
    font-style: italic;
    font-weight: 500;
}

.buttton-container {
    margin: 10px;
    font-family: 'Irish Grover';
}

button {
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

button a {
    text-decoration: none;
    color: black;
}