* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: white;
    --bg-color1: #DCFFEC;
    --color: #1EA8A4;
}

body {
    text-align: center;
    background-color: var(--bg-color);
    margin: 5px;
}

a {
    text-decoration: none;
    color: var(--bg-color);
}

.front-page-container {
    max-width: 350px;
    height: 570px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color);
    border-radius: 20px;
}

.cart-logo {
    padding-top: 200px;
    padding-right: 100px;
    padding-left: 100px;
}

.shoppy-cart {
    color: var(--bg-color);
    padding: 7px;
    font-weight: 500;
    font-family: italic;
    font-size: 40px;
}

.todopage {
    padding-top: 100px;
    padding-right: 100px;
    padding-left: 100px;
}

.todopage a {
    text-decoration: none;
    color: var(--color);
}

@media (max-width: 768px) {
    .front-page-container {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .front-page-container {
        max-width: 95%;
        height: 500px;
    }

    .cart-logo {
        padding-top: 150px;
        padding-right: 60px;
        padding-left: 60px;
    }

    .shoppy-cart {
        font-size: 32px;
    }

    .todopage {
        padding-top: 80px;
        padding-right: 60px;
        padding-left: 60px;
    }
}

@media (max-width: 360px) {
    .front-page-container {
        height: 450px;
    }

    .cart-logo {
        padding-top: 120px;
        padding-right: 40px;
        padding-left: 40px;
    }

    .shoppy-cart {
        font-size: 28px;
    }

    .todopage {
        padding-top: 70px;
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media (max-width: 320px) {
    .front-page-container {
        height: 400px;
    }

    .cart-logo {
        padding-top: 100px;
        padding-right: 30px;
        padding-left: 30px;
    }

    .shoppy-cart {
        font-size: 24px;
    }

    .todopage {
        padding-top: 60px;
        padding-right: 30px;
        padding-left: 30px;
    }
}